.btn {
  @include pxRem(padding, 10 20);
  @include pxRem(border-radius, 20px);
  @include pxRem(font-size, 13);
  @include pxRem(height, 40);
  letter-spacing: 1px;
  background: map-get($colors, primary);
  color: map-get($colors, white);
  line-height: 1;
  cursor: pointer;
  transition: background 400ms ease;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: map-get($colors, primary-dark);
  }
  &:focus {
    outline: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
    color: map-get($colors, txt-disabled);
    border-color: map-get($colors, txt-disabled);
    background: map-get($colors, bg-gray-light);
  }
}

a.btn {
  text-transform: capitalize;
  font-family: "Poppins";
  line-height: 20px;
}

.btn-primary {
  background-color: map-get($colors, black);
  color: map-get($colors, white)
}

.btn-primary:hover {
  background-color: map-get($colors, yellow);
  color: map-get($colors, black);
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
