.page-home {
  // Specific style for Home page

  //sliderMain 
  .slider {
    .slider-item {
      position: relative;
    }

    .slider-item .item-content {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 50%;

      transition: all .6s;
      opacity: 0;
      text-align: center;
    }

    .slider-item .item-content.top {
      transform: translateY(0);
    }

    .slider-item .item-content.middle {
      transform: translateY(-100%);
    }

    .slick-active.slick-current .slider-item .item-content.top {
      transform: translateY(-60%);
      opacity: 1;
    }

    .slick-active.slick-current .slider-item .item-content.middle {
      transform: translateY(-40%);
      opacity: 1;
    }

    .slider-item .item-content .content-sub-title {
      font: 400 50px "Playfair Display";
      text-transform: capitalize;
      font-style: italic;
      color: map-get($colors, yellow);
      margin-bottom: 20px;
      letter-spacing: 2px;
      white-space: nowrap;
    }

    .slider-item .item-content .content-title {
      color: map-get($colors, white);
      font: 900 70px "Poppins";
      text-transform: capitalize;
      cursor: pointer;
      white-space: nowrap;
      margin-bottom: 50px;
    }

    .slider-item .item-content .btn-content {
      @include pxRem('padding', 10 30);
      @include pxRem('border-radius', 25);

      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: map-get($colors, black);
      background: map-get($colors, white);
      transition: all .3s ease;
    }

    .slider-item .item-content .btn-content:hover {
      background-color: map-get($colors, yellow);
    }

    .slick-slider .slick-arrow {
      position: absolute;
      z-index: 10;
      opacity: 0;
      transition: all .3s ease-in-out;

      width: 60px;
      height: 60px;
      color: map-get($colors, white);
      border: 2px solid map-get($colors, white);
      border-radius: 50%;
    }

    .slick-slider:hover .slick-arrow {
      opacity: 1;
    }

    .slick-slider:hover .slick-arrow.slick-prev  {
      left: 20px;
    }

    .slick-slider:hover .slick-arrow.slick-next  {
      right: 20px;
    }

    .slick-slider .slick-arrow:hover {
      background-color: map-get($colors, black);
    }

    .slick-slider .slick-arrow.slick-prev {
      left: 60px;
    }

    .slick-slider .slick-arrow.slick-next {
      right: 60px;
    }

    .slick-slider .slick-arrow.slick-prev::before,
    .slick-slider .slick-arrow.slick-next::before {
      font-family: "Material Icons" ;
      color: map-get($colors, white);
      font-size: 15px;
      font-weight: 800;
    }

    .slick-slider .slick-arrow.slick-prev::before {
      margin-left: 5px;
      content: '\e5e0';
    }

    .slick-slider .slick-arrow.slick-next::before {
      content: "\e5e1";
    }

    .slick-dots {
      bottom: 10px;
    }

    .slick-dots li {
      margin: 0;
    }

    .slick-dots li button:before {
      opacity: 1;
      color: map-get($colors, white);
      font-size: 12px;
    }

    .slick-dots li.slick-active button:before {
      color: map-get($colors, yellow);
    }

    @media (max-width: 1199px) {
      .slider-item .item-content .content-title {
        @include pxRem('font-size', 60);
      }
    }

    @include respond-below(wide) {
      .slider-item .item-content .content-sub-title {
        @include pxRem('font-size', 40);
        @include pxRem('margin-bottom', 10);
        line-height: 50px
      }

      .slider-item .item-content .content-title {
        @include pxRem('font-size', 50);
        @include pxRem('margin-bottom', 25);
      }
    }

    @include respond-below(medium) {
      .slider-item .item-content .content-sub-title {
        @include pxRem('font-size', 30);
        line-height: 40px
      }

      .slider-item .item-content .content-title {
        @include pxRem('font-size', 40);
        line-height: 60px;
      }

      .slick-slider .slick-arrow {
        opacity: 1;
      }

      .slick-slider .slick-arrow.slick-prev {
        left: 20px;
      }

      .slick-slider .slick-arrow.slick-next {
        right: 20px;
      }
    }

    @media (max-width: 543px) {

      .slick-active.slick-current .slider-item .item-content.top {
        transform: translateY(0);
      }

      .slider-item .item-content.top {
        transform: translateY(-100%);
      }

      .slick-active.slick-current .slider-item .item-content.middle {
        transform: translateY(-65%);
      }

      .slider-item .item-content.middle {
        transform: translateY(0);
      }

      .slider-item .item-content .content-sub-title {
        @include pxRem('font-size', 16);
        @include pxRem('margin-bottom', 5);
        line-height: 18px;
      }

      .slider-item .item-content .content-title {
        @include pxRem('font-size', 18);
        @include pxRem('margin-bottom', 15);
        line-height: 20px;
      }

      .slider-item .item-content .btn-content {
        @include pxRem('padding', 5 15);
        @include pxRem('font-size', 13);
        letter-spacing: 1px;
      }

      .slick-slider .slick-arrow {
        border: none;
        width: 20px;
        height: 20px;
      }

      .slick-slider .slick-arrow:hover {
        background-color: transparent;
      }
    }
  }

  // banner
  .banner-wrapper {
    @include pxRem('margin', 40 0);

    .banner-main {
      @include pxRem('padding', 0 24);
    }

    .banner-main .banner-item {
      @include pxRem('padding', 0 15);
      width: 50%;
      position: relative;
    }

    .banner-main .banner-item:last-child .banner-image {
      margin-top: 53%;
    }

    .banner-image {
      display: block;
      cursor: pointer;
      position: relative;
    }

    .banner-image::after {
      background: 
        rgba(0, 0, 0, 0) linear-gradient(to bottom, 
        rgba(72, 76, 97, 0) 0%, 
        rgba(0, 0, 0, 0.5) 75%) repeat scroll 0 0;

      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scaleY(0);
      transform-origin: 50% 100% 0;
      transition: all .2s ease-out;
    }

    .banner-item:hover .banner-image::after {
      transform: scaleY(1);
    }

    .banner-item:hover .banner-content.bottom {
      margin: -120px auto 0;
    }

    .banner-item:hover .banner-content.top {
      top: 20px;
    }

    .banner-content {
      @include pxRem('padding', 70);
      width: 80%;
      border: 12px solid map-get($colors, gray);
      text-align: center;
      background-color: map-get($colors, white);

      position: relative;
      z-index: 1;
      transition: all .4s ease-in-out 0s;
    }

    .banner-content.bottom {
      margin: -100px auto 0;
    }

    .banner-content.top {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .banner-content .banner-title {
      @include pxRem('margin-bottom', 8);
      font: 700 40px "Playfair Display";
      line-height: 50px;
      color: map-get($colors, black);
      text-transform: uppercase;
    }

    .banner-content .banner-sub-title {
      @include pxRem('padding-bottom', 16);
      font: 400 26px "Playfair Display";
      line-height: 30px;
      color: map-get($colors, black);
      text-transform: uppercase;
      letter-spacing: 5px;
      position: relative;
    }

    .banner-content .banner-sub-title::after {
      @include pxRem('width', 100px);
      @include pxRem('height', 1);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: auto;
      bottom: 0;
      background-color: map-get($colors, gray);
    }

    .banner-content .banner-text {
      @include pxRem('padding', 20 0);
      font: 400 16px "Poppins";
      color: map-get($colors, black);
    }

    // sub-banner 

    .sub-banner {
      @include pxRem('padding', 0 95);
    }

    .sub-banner .banner-item {
      @include pxRem('padding', 0 15);
      width: 50%;
      position: relative;
    }

    .sub-banner .banner-item:first-child .banner-image {
      float: left;
    }

    .sub-banner .banner-item:last-child .banner-image {
      float: right;
    }

    .sub-banner .banner-content {
      @include pxRem('padding', 40);
      width: 70%;
      position: absolute;
    }

    .sub-banner .banner-content.left {
      bottom: 20%;
      right: 15px;
    }

    .sub-banner .banner-item:hover .banner-content.left {
      right: 30px
    }

    .sub-banner .banner-content.right {
      bottom: 20%;
      left: 15px;
    }

    .sub-banner .banner-item:hover .banner-content.right {
      left: 30px
    }

    .sub-banner .banner-content .banner-title {
      margin: 0;
      font: 400 30px "Playfair Display";
      line-height: 40px;
    }

    .sub-banner .banner-content .banner-sub-title {
      @include pxRem('padding', 20);
      font: 400 18px "Playfair Display";
      line-height: 20px;
      color: map-get($colors, primary);
    }

    .sub-banner .banner-content .banner-sub-title::after {
      content: none;
    }

    .sub-banner .banner-content .banner-text {
      display: none;
    }

    .sub-banner .banner-content .btn-banner {
      @include pxRem('margin', 10 0);
    }

    @media (max-width: 1199px) {
      .banner-main .banner-content {
        @include pxRem("padding", 40);
      }

      .sub-banner {
        @include pxRem('padding', 0 15);
      }

      .sub-banner .banner-content .banner-title {
        @include pxRem('font-size', 22);
        line-height: 26px;
      }

      .sub-banner .banner-content .banner-sub-title {
        @include pxRem('padding', 20 0);
        letter-spacing: 1px;
      }
    }

    @include respond-below(wide) {
      .banner-main .banner-content {
        @include pxRem('padding', 20);
        width: 86%;
      }

      .banner-main .banner-item:last-child .banner-image {
        margin-top: 47%;
      }
  

      .banner-main .banner-content .banner-title {
        @include pxRem('font-size', 30);
        line-height: 40px;
        white-space: nowrap;
      }

      .banner-main .banner-content .banner-sub-title {
        @include pxRem('font-size', 20);
        @include pxRem('padding-bottom', 10);
        letter-spacing: 1px;
        line-height: 20px;
      }

      .banner-main .banner-content .banner-text {
        @include pxRem('font-size', 14);
        line-height: 16px;
      }

      .sub-banner .banner-content {
        @include pxRem('padding', 12);
      }

      .sub-banner .banner-content .banner-title {
        @include pxRem('font-size', 18);
        line-height: 22px;
      }

      .sub-banner .banner-content .banner-sub-title {
        @include pxRem('font-size', 16);
        line-height: 18px;
        letter-spacing: 1px;
      }

      .sub-banner .banner-content.left,
      .sub-banner .banner-content.right {
        bottom: 10%;
        left: 15px;
        right: 15px;
        margin: 0 auto;
      }
    }

    @include respond-below(medium) {
      .banner-main {
        padding: 0;
      }

      .banner-main .banner-item:last-child .banner-image {
        @include pxRem('margin-top', 0);
        position: static;
      }

      .banner-main .banner-content.top {
        position: static;
        left: 0;
        transform: translateX(0);
        margin: -100px auto 0;
      }

      .sub-banner {
        @include pxRem('padding', 0);
      }
    }

    @media (max-width: 543px) {
      .banner-main {
        flex-direction: column
      }

      .banner-main .banner-item:first-child {
        @include pxRem('margin-bottom', 30);
      }

      .banner-main .banner-item {
        @include pxRem('padding', 0 10);
        width: 100%;
      }

      .banner-main .banner-item .banner-content {
        width: 90%;
      }
      
      .sub-banner {
        flex-direction: column;
      }

      .sub-banner .banner-item {
        @include pxRem('padding', 0 10);
        width: 100%;
        text-align: center;
      }

      .sub-banner .banner-item:first-child {
        @include pxRem('margin-bottom', 30);
      }

      .sub-banner .banner-item:first-child .banner-image,
      .sub-banner .banner-item:last-child .banner-image {
        float: none;
        z-index: -1;
      }

      .sub-banner .banner-item .banner-content {
        display: inline-block;
        position: static;
        z-index: 1;
        width: 90%;
        margin: -40px 0 0;
      }
    }
  }

  // lastest-new
  .lastest-news {
    .lastest-list {
      @include pxRem('margin', 0 -15);
    }

    .lastest-item {
      position: relative;
      width: 92% !important;
    }

    .lastest-item:hover .item-image {
      opacity: 1;
    }

    .lastest-item .item-image {
      position: relative;
      opacity: 0;
      z-index: 1;
      transition: all .3s ease-in-out;
    }

    .lastest-item .item-image svg {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      color: map-get($colors, white);
      border: 2px solid map-get($colors, white);
      border-radius: 50%;
      padding: 10px;

      transition: all .2s ease-in-out;
      width: 42px;
      height: 42px;
      cursor: pointer;
    }

    .lastest-item .item-image svg:hover {
      background-color: map-get($colors, warning);
      color: black;
      border-color: map-get($colors, warning);
    }

    .item-image a img {
      object-fit: cover;
      object-position: top;
      z-index: -2;
    }

    .lastest-item .item-image a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .lastest-item .item-content {
      @include pxRem('padding', 75 60);
      background-color: map-get($colors, bg-gray-light);
      text-align: center;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      cursor: pointer;
    }

    .lastest-item .item-content .content-title {
      @include pxRem('padding-bottom', 25);
      font: 400 20px "Playfair Display";
      letter-spacing: 0.8px;
      color: map-get($colors, black);

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .lastest-item .item-content .content-desc {
      @include pxRem('margin-bottom', 15);
      font: 400 14px "Poppins";
      color: map-get($colors, primary);
    }

    .lastest-item .item-content .btn-content {
      text-transform: capitalize;
      font: 400 14px "Poppins";
    }

    .slick-slider button {
      display: none !important;
    }

    .slick-slide > div {
      text-align: center;
    }

    @media (max-width: 1199px) {
      .lastest-item .item-content {
        @include pxRem('padding', 35px);
      }
    }

    @include respond-below(medium) {
      .lastest-item .item-image {
        opacity: 1;
      }


      .lastest-item .item-content {
        @include pxRem('padding', 15);
        position: static;
      }
    }

    @media (max-width: 543px) {
      .lastest-item {
        width: 97% !important;
      }

      .lastest-item .item-image img {
        width: 525px !important;
      }
    }
  }

  // brand-logo
  .brand-logo {
    @include pxRem('margin', 80 0);

    .brand-item {
      text-align: center;
      opacity: 0.6;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }

    .brand-item:hover {
      opacity: 1;
    }

    .slick-slider .slick-arrow {
      position: absolute;
      z-index: 10;
      opacity: 0;
      transition: all .3s ease-in-out;

      width: 31px;
      height: 31px;
      color: map-get($colors, gray);
      border: 1px solid map-get($colors, gray);
      border-radius: 50%;
    }

    .slick-slider:hover .slick-arrow {
      opacity: 1;
    }

    .slick-slider .slick-arrow:hover {
      background-color: map-get($colors, black);
    }

    .slick-slider .slick-arrow.slick-prev {
      left: 0px;
    }

    .slick-slider .slick-arrow.slick-next {
      right: 0px;
    }

    .slick-slider .slick-arrow.slick-prev::before,
    .slick-slider .slick-arrow.slick-next::before {
      font-family: "Material Icons" ;
      color: map-get($colors, gray);
      font-size: 15px;
      font-weight: 800;
    }

    .slick-slider .slick-arrow.slick-prev::before {
      margin-left: 5px;
      content: '\e5e0';
    }

    .slick-slider .slick-arrow.slick-next::before {
      content: "\e5e1";
    }

    @include respond-below(medium) {
      @include pxRem('margin', 50 0);
    }

    @media (max-width: 543px) {
      @include pxRem('margin', 30 0);
      .container {
        @include pxRem('padding', 0 10);
      }

      .slick-slider .slick-arrow {
        opacity: 1;
      }
    }
  }

  // newsletter 
  .newsletter-wrapper {
    @include pxRem('margin-top', 40);
    background: url("/images/newsletter-bg.jpg") no-repeat fixed 50%;

    .newsletter {
      @include pxRem('padding', 55);
      display: flex;
      justify-content: space-evenly;
    }

    .newsletter .text {
      @include pxRem('padding-left', 30);
      font: 400 22px "Playfair Display";
      color: map-get($colors, white);
      margin: 0;
      position: relative;
      line-height: 40px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    .newsletter .text::before {
      font-family: "Material Icons";
      content: "\e159";
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }

    .newsletter .subscribe {
      display: flex;
    }

    .newsletter .subscribe input {
      @include pxRem('padding', 6 12);
      font: 400 14px "Poppins";
      border-radius: 0px;
    }

    .newsletter .subscribe button {
      @include pxRem('padding', 13 20);
      font: 500 14px "Poppins";
      border-radius: 0px;
      text-transform: uppercase;
    }

    @include respond-below(wide) {

      .newsletter {
        flex-direction: column;
        align-items: center;
      }

      .newsletter .text {
        @include pxRem('margin-bottom', 10);
        width: 410px;
        line-height: 45px;
      }

      .newsletter .subscribe {
        width: 100%;
      }
    }
  }
}
